<div class="container fb-pages">
<h3>Facebook Pages</h3>
<p>Select the pages you want to associate to your account</p>
<div class="row no-gutters" *ngIf="messageData && messageData.facebookPages">
  <div *ngFor="let page of messageData.facebookPages" class="col-xs-12 pageGrid">
      <div class="col-sm-2">
        <input type="checkbox" [(ngModel)]="page.selected"/>
      </div>
      <div class="col-sm-10">
        <div class="col-sm-12">{{page.name}}</div>
        <div class="col-sm-12">{{page.category}}</div>
      </div>
  </div>
</div>
<button class="btn btn-primary " (click)="modal.close(messageData)">Submit</button>
</div>





