.circle-icon {
  color: white;
  background: #1da1f2;
  padding: 10px;
  border-radius: 50%;
}

.card {
  margin: 0.5rem 0;
  border-radius: 5px;
  border-left: 1rem solid lightgray;
}

.imageDiv {
  text-align: center;
  margin: auto;


  .publishedImage {
    width: 150px;
    height: 80px;
    border-radius: 1rem;
  }
}
