

<div class="head" style="padding-left: 4rem; margin-top: 18px;" >
  <section class="section">
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Pricing</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Start working with <span class="text-primary fw-bold">Storefries</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center">
            <div class="col-12 mt-4 pt-2">
                <div class="text-center">
                    <ul class="nav nav-pills rounded-pill justify-content-center d-inline-block border py-1 px-2" id="pills-tab" role="tablist">
                        <li class="nav-item d-inline-block">
                            <a class="nav-link px-3 rounded-pill active monthly" id="Monthly" data-bs-toggle="pill" href="#Month" role="tab" aria-controls="Month" aria-selected="true">Monthly</a>
                        </li>
                        <li class="nav-item d-inline-block">
                            <a class="nav-link px-3 rounded-pill yearly" id="Yearly" data-bs-toggle="pill" href="#Year" role="tab" aria-controls="Year" aria-selected="false">Yearly <span class="badge rounded-pill bg-success">10% Off </span></a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="Month" role="tabpanel" aria-labelledby="Monthly">    
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Free</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-white border-0 rounded">
                                    <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Starter</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">29</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>3 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>20 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="cbdemo_premium-USD-monthly" data-cb-item-0-quantity="1" class="btn btn-primary mt-4">Buy Now</a>
                                        <!-- <a href="app.storefries.com/register/id=plan2"  ></a> data-username="{{result['plan']}}" -->
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Coming Soon...</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>5 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>25 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Coming Soon.</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Coming Soon...</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>30 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Coming Soon.</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>

                    <div class="tab-pane fade" id="Year" role="tabpanel" aria-labelledby="Yearly">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Free</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>1 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get Started</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-white border-0 rounded">
                                    <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Starter</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">25</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>3 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>20 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Coming Soon...</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>5 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>25 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Coming Soon.</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">Coming Soon...</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>
                                        
                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>10 User Allowed</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>30 social accounts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule unlimited posts</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access messages in one inbox</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule posts in advance</li>
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Schedule multiple posts at a time</li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Coming Soon.</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>    
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- Price End -->
</section>
</div>
