<div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-5 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="bg-white rounded card-body">
            <h5 class="card-title text-center">Billing Information</h5> <br/>
            <form class="form-signin">
                <div class="form-label-group row "  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span>Billing Plan</span>
                  </div>
                  <div class="col-sm-3">
    
                  </div>
                  <div class="col-sm-3">
    
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">View Billing History</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row "  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span>Free Trial</span>
                  </div>
                  <div class="col-sm-3">
                    
                  </div>
                  <div class="col-sm-3">
    
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Finalize Billing Profile</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span>Plan</span>
                  </div>
                  <div class="col-sm-3">
                    <span>Standard</span>
                  </div>
                  <div class="col-sm-3">
                    <span>$99/month</span>
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Update Plan</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span>Add Users</span>
                  </div>
                  <div class="col-sm-3">
                    <span>1 of 1 included users</span>
                  </div>
                  <div class="col-sm-3">
    
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Manage Users</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span>Profile</span>
                  </div>
                  <div class="col-sm-3">
                    <span>5 included social profiles</span>
                  </div>
                  <div class="col-sm-3">
                    <span>Free with Plan</span>
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Manage Profiles</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span>Payment</span>
                  </div>
                  <div class="col-sm-3">
                    <span>Monthly Payments</span>
                  </div>
                  <div class="col-sm-3">
    
                  </div>
                  <div class="col-sm-3 ">
                    <a routerLink='/billing'>Update Billing</a>
                  </div>
                </div>
                
                
              </form>
            </div>
        </div>
    </div>
    </div>
</div>