<div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header padding">
                    <div>
                        <span>Images</span> <span style="float: right;">Shuffle</span>
                    </div>
                </div>
                <div class="card-body scroll">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                    <img src="../../../../assets/img/_Storefries.png">
                  
                </div>
                <div class="card-footer text-muted text-center">
                    <button class="btn btn-primary">Upload images</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <span>Canvas</span> <span style="float: right;">Reposition</span>
                </div>
                <div class="card-body border text-center height">
                    <span>Editor comes here</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header padding">
                    <span>Sizes</span>
                </div>
                <div class="card-body text-center">
                    <div>
                        <span>
                            <i class="fab fa-instagram fa-2x insta-border"></i>
                        </span> &nbsp;  
                        <span class="fb-border">
                            <i class="fab fa-facebook padding "></i>
                            <i class="fab fa-twitter padding "></i>
                        </span>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="card">
                <div class="card-header padding">
                    <span>Filters</span> <span style="float: right;">Reset</span>
                </div>
                <div class="card-body text-center">
                    <div>
                        <span>Light contrast</span>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="card">
                <div class="card-header padding ">
                    <span>Text</span> 
                </div>
                <div class="text-center padding">
                    
                        <span class="col-sm-2">
                            Head
                        </span>
                         <span class="col-sm-2">
                             Body
                         </span>
                         <span class="col-sm-2">
                             Caption
                         </span>
                    </div>
                   
                
            </div>
            &nbsp;
            <div class="card">
                <div class="card-header padding">
                    <span>Logo</span> 
                </div>
                <div class="card-body text-center">
                    <div>
                        <span>Insert Logo or Graphic</span>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="text-center">
                <button class="btn btn-primary">Share & Download</button>
            </div>
        </div>
       
    </div>
</div>