<nav class="navbar navbar-expand-lg navbar-light top-navbar">
  <a class="navbar-brand brandLogo" routerLink="/">
    <img src="../../../../assets/img/favicon.ico" width="30" height="30" alt="Storefries"><span class="brandText">StoreFries</span> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active menuText">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item menuText">
        <a class="nav-link" routerLink="/home/:userId/dashboard" title="Dashboard">Dashboard</a>
      </li>
      <li class="nav-item menuText">
        <a class="nav-link" title="Post" routerLink='/socialmedia/post/newpost'>Post</a>
      </li>
     
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" title="Notification"><i class="far fa-bell fa-lg"></i></a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" title="Settings"><i class="fas fa-cog fa-lg"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a style="color: white;" class="nav-link"  title="{{profileService.userData.firstName}}" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span> {{profileService.userData.firstName | slice: 0:1}}{{profileService.userData.lastName | slice: 0:1}} </span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><i class="far fa-user"></i><b>&nbsp;{{profileService.userData.firstName}} {{profileService.userData.lastName}}</b> </a>
          <div class="dropdown-divider"></div>  
          <a class="dropdown-item" title="Profile" routerLink="/account"><i style="color: #3282c9;" class="fas fa-user-circle"></i> Account</a>
          <a class="dropdown-item" title="Manage social account" routerLink="/manageaccount"><i style="color: #3282c9;" class="fas fa-tasks-alt"></i> Manage Social Account</a>
          <a class="dropdown-item" title="Connect a profile" (click)="openSocialModal()"><i style="color: #3282c9;" class="fas fa-network-wired"></i> Connect a profile</a>
          <a class="dropdown-item" title="Invite a Team Member" routerLink='/addmember'><i style="color: #3282c9;" class="fas fa-users"></i> Invite a Team Member</a>
          <a class="dropdown-item" title="Settings"><i style="color: #3282c9;" class="fas fa-cog"></i> Settings</a>
          <a class="dropdown-item" routerLink='/account' title="Billing"><i style="color: #3282c9;" class="fas fa-wallet"></i> Billing</a>
          <div class="dropdown-divider"></div>
            <button (click)="openLogoutModal()" type="button" class="dropdown-item" title="Logout" data-toggle="modal" data-target="#exampleModal">
              <i style="color: #3282c9;" class="fas fa-sign-out-alt"></i>  Logout
            </button>
        </div>
      </li>
    </ul>

    
  </div>

</nav>
