<div class="container-fluid" style="padding: 20px;">
    <div class="card">
        <span style="float: left;padding: 10px;">Invite Member</span>
    </div><br/>
    <div> 

      <div *ngIf='msg'>
        <div class="alert alert-danger" role="alert">
            Members list should not be empty
        </div>
      </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
             
            <table class="table table-bordered" formArrayName="quantities">
                <tr>
                  <th colspan="3">Team Members</th>
                  <th width="150px"><button  (click)="addQuantity()" class="btn btn-primary">+ Add</button></th>
                
                <tr *ngFor="let quantity of members().controls; let i=index;" [formGroupName]="i">
                    
                  <td>
                      First Name
                      <input type="text"  formControlName="fname" class="form-control">
                  </td>
                  <td>
                      Last Name
                      <input type="text" formControlName="lname" class="form-control">
                  </td>
                  <td>
                        Email Address
                        <input type="email" formControlName="email" class="form-control">
                  </td>
                  <td>
                        <div>
                            <i style="padding: 30px; cursor: pointer;" (click)="removeQuantity(i)"  class="far fa-trash-alt fa-lg"></i>
                        </div>
                  </td>
                  
                </tr>
              </table>

              
        </form>


        
    </div>

    

    <div> <br/>
        <div class="row">
            <div class="col-sm-12" style="float: left;">
                <span>Filter by:<i style="color: #4064ac;" class="fab fa-facebook fa-2x"></i> <i style="color: #4c9bef;" class="fab fa-twitter-square fa-2x"></i> <i style="color: red;" class="fab fa-instagram fa-2x"></i> <i style="color: #0c61bf" class="fab fa-linkedin-in fa-2x"></i>  </span> 
                
            </div>
        </div>
    </div>

    <div class="row" style="padding: 20px;">
        <div class="col-sm-12">
            Profiles <p class="offset-md-11">Read & Publish</p>
        </div>
    </div>
    <span>
        <div class="row">
           
            <div class="col-sm-12" >
                <span *ngFor="let data of dropdownList">
                    <i style="color: #4c9bef;" class="fa fa-twitter fa-2x circle-icon" *ngIf="data.socialType=='twitter'"></i>
                    <i style="color: #4064ac;" class="fa fa-facebook fa-2x circle-icon"*ngIf="data.socialType=='facebook'"></i>
                    {{data.socialName}}  <input class="offset-md-11" type="checkbox"> &nbsp; <hr>
                </span>
            </div>
        </div>
    </span>
    

    <div class="col-sm-12">
        <button style="float: right;" type="submit" class="btn color">Send Invitation</button>
    </div>
</div>