<div class="container-fluid login-screen">
		<div class="row">
			<div class="col-md-8 nodisplay "> <br/> <br/>
				<img src="../../../../assets/img/Social_Media_Marketing.png" alt="Login">
			</div>
			<div class="col-md-4">
				<div class="margin-center">
					<div class="card-body">
						<img class="logo" src="../../../../assets/img/_Storefries.png" alt="StoreFries"> <br/>
						<h3 class="card-title text-center"><p style="font-weight: bold;">User Login</p></h3>
						<form class="form-signin" [formGroup]='login'  (ngSubmit)="OnSubmit()" autocomplete="off" novalidate>
							<div class="form-label-group">

								<input style="width: 481px; height: 61px;" type="email" [(ngModel)]="loginUserData.username" name="username" id="username" formControlName="username" class="form-control"
								placeholder="&#xf0e0; &nbsp; Email address"  style="font-family:Arial, FontAwesome" required>

								<div>
									<!--question mark(?) is a safe navigation operator-->
									<small *ngIf="login.controls.username.errors?.pattern" class="text-danger">Please provide a valid email address</small>
								</div>
							</div>


							<div class="form-label-group">
								<input type="password" id="password" [(ngModel)]="loginUserData.password" [type]="fieldTextType ? 'text' : 'password'"
								title="At least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="password"
								formControlName="password" required class="form-control" placeholder="&#xf09c; &nbsp; Password" style="font-family:Arial, FontAwesome">
							</div>

							<div>
								<!--question mark(?) is a safe navigation operator-->
								<small *ngIf="login.controls.password.errors?.pattern" class="text-danger">At least 1 number and 1 uppercase and 1 lowercase letter, and at least 8 characters</small>

							</div>

							<div *ngIf='errormessage' style="color: red;"><i class="fas fa-exclamation-circle"></i> Please provide both email and password</div>


							<!-- Show password
							<span class="input-group-text">
								<i (click)="toggleFieldTextType()" class="fa fa-eye-slash"></i>
							</span>
							-->


							<div>

								<a class="forgot" style="float: left; color: black; position: absolute; left: 15%;" routerLink='/forgot' class="pointer">Forgot password?</a> <br/>
							</div>

							<br/>

							<button class="btn btn-lg btn-block text-uppercase" style="cursor: pointer;" type="submit" [disabled]="clicked" value="Login" (click)="loginUser()"><i class="fas fa-sign-in-alt"></i>&nbsp;{{buttonname}}</button>



						</form>

						<hr class="hr-text" data-content="OR">


						<div class="col socialbutton" >


							<a href="javascript:void(0)" class="google btn" (click)="signInWithFB()">
								<img style="display:inline-block; width: 30px; height: 30px; color: #3b5998 ;" alt="Google sign-in" src="../../../../assets/img/facebook.svg"  />
								<div style="display:inline-block; min-width:3.8cm;">
									Login with Facebook
								</div>
							</a>
					
							&nbsp;

							<a href="javascript:void(0)" class="google btn" (click)="signInWithGoogle()">
								<img style="display:inline-block; width: 30px; height: 30px;" alt="Google sign-in" src="../../../../assets/img/google.png" />
								<div style="display:inline-block; min-width:3.8cm;">
									Login with Google
								</div>
							</a>

						</div>
						<div>&nbsp;</div>
						<div class="anchor">
							Do not have an account? &nbsp;<a style="color: blue;" routerLink='/register' class="pointer">Sign up now</a>
						</div>


					</div>

				</div>
				<a style="font-weight: bold; cursor: pointer; color: black;" routerLink='/privacypolicy'>Privacy Policy</a>

			</div>

		</div>
</div>
