<div class="container-fluid login-screen">
  <div class="row">
    <div class="col-md-8 nodisplay"> <br/> <br/>
      <img src="../../../../assets/img/Social_Media_Marketing.png" alt="Login">
    </div>
    <div class="col-md-4">
      
      <div class=" margin-center">
        <div *ngIf='errormsg' class="alert alert-danger" role="alert">
          Empty fields
        </div>
        <div class="card-body">
          <img class="logo" src="../../../../assets/img/_Storefries.png" alt="StoreFries">
          <h3 class="card-title text-center"><p style="font-weight: bold;">Register</p></h3>
          <form class="form-signin" [formGroup]='login' (ngSubmit)="OnSubmit()" autocomplete="off" novalidate>

            <div class="form-label-group">
              <input type="text" type="text" [(ngModel)]="registerUserData.firstName" formControlName="fname" 
              minlength="4" maxlength="20" name="firstName" class="form-control"
                placeholder="&#xf007; &nbsp; First Name" style="font-family:Arial, FontAwesome" required>
            </div>

            


            <div class="form-label-group">
              <input type="text" type="text" [(ngModel)]="registerUserData.lastName" formControlName="lname"
                minlength="4" maxlength="20" name="lastName" class="form-control"
                placeholder="&#xf007; &nbsp; Last Name" style="font-family:Arial, FontAwesome" required>
            </div>

            <div class="form-label-group">
              <input type="email" [(ngModel)]="registerUserData.email" formControlName="email" name="email"
              class="form-control" placeholder="&#xf0e0; &nbsp; Email address" style="font-family:Arial, FontAwesome" required>

            </div>


            <div >
              <!--question mark(?) is a safe navigation operator-->
              <small *ngIf="login.controls.email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
            </div>


            <div class="form-label-group">
              <input type="password" [(ngModel)]="registerUserData.password"
                title="at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                name="password" formControlName="password" required class="form-control"
                placeholder="&#xf09c; &nbsp; Password" style="font-family:Arial, FontAwesome">
              
                <div>
                  <!--question mark(?) is a safe navigation operator-->
                  <small *ngIf="login.controls.password.errors?.pattern" class="text-danger">At least 1 number and 1 uppercase and 1 lowercase letter, and at least 8 characters</small>
                </div>
              
              </div>



            <button  style="cursor: pointer;" class="btn btn-lg btn-block text-uppercase" type="submit" 
              value="Login" (click)="registerUser()"><i class="fas fa-sign-in-alt"></i> Register</button>
           
          </form>

          <hr class="hr-text" data-content="OR">

						
          <div class="col socialbutton" >


            <a href="javascript:void(0)" class="google btn" (click)="signInWithFB()">
              <img style="display:inline-block; width: 30px; height: 30px; color: #3b5998 ;" alt="Google sign-in" src="../../../../assets/img/facebook.svg"  />
              <div style="display:inline-block; min-width:3.8cm;">
                Login with Facebook
              </div>
            </a>
        
            &nbsp;

            <a href="javascript:void(0)" class="google btn" (click)="signInWithGoogle()">
              <img style="display:inline-block; width: 30px; height: 30px;" alt="Google sign-in" src="../../../../assets/img/google.png" />
              <div style="display:inline-block; min-width:3.8cm;">
                Login with Google
              </div>
            </a>

          </div>

            <br/>
          <div class="anchor">
            Already have an account?&nbsp;<a style="color: blue;" routerLink='/login' class="pointer">Sign in now</a> <br />
          </div>
        </div>
        <a style="font-weight: bold; cursor: pointer; color: black;" routerLink='/privacypolicy'>Privacy Policy</a>
      </div>

    </div>
  </div>
</div>
