.ak-sidebar {
  .listcolour  {
  background: #3282c9;
  }
  

}
.ak-sidebar
{
  .dropdown
  {
    .white
    {
      background-color: white;
    }
  }
}
.ak-sidebar
{
  .show
  {
    :hover
    {
      background: #4dabff;
      color: white;
    }
  }
}
.active
{
  background-color: #4dabff;
}