.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}
h4
{
    color: black;
}
h5
{
    color: white;
}
.col-sm-8
{
    background: white;
}
.textpreview
{
    margin: 0 auto;
    border-radius: 20px;
    text-align: left;
}
.btn {
    display: block;
    margin: 0px auto;
    background: linear-gradient(to right,#4DABFF ,#62DDFF);

}
.col-sm-6 {
    .file-upload{

        input[type='file']
      {
        position:absolute;
        top:0;
        left:0;
        opacity:0;
        cursor:pointer;

      }
    }
  }
  textarea
  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
.rowmargin {
    margin: 2rem 0;
}
.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}
.postbutton {
    width: 10%;
}
.fa-facebook {
  span {
      display: inline-block;
  }
}

.postRow{
  padding: 1rem 0;
}

.editorSection{
  padding: 2rem;

  h5 {
    color: black;
  }

  .textEditor{
    margin: 2rem 0;

    .innerEditor{
      border: 1px solid;

      textarea {
        border: none;
      }

      hr {
        padding: 0;
        margin: 0;
        border-top: 1px solid;
      }

      button {
        background: transparent;
        border: none;
        padding: 0.5rem;
      }
    }
  }
}
.trigger
{
  width: 100%;
  background-color: orangered;
  color: white;
  border: rgb(180, 178, 178);
  height: 40px;
  cursor: pointer;
  text-align: center;
}
::placeholder
{
  color: white;

}

.ngx-file-drop__drop-zone {
  border: 2px solid black;
  text-align: center;
}


.contentLink {
  color: #4DABFF;
  font-weight: bold;
  cursor: pointer;
}

.emoji-mart {
  position: absolute;
}
.itemimage
{
  width: 20%;
}
.previewimage
{
  width: 200px;
  height: 200px;
  border: 1px solid black;

}