<div class="container-fluid">
  <div class="row rowmargin">
    <div class="col-sm-6 editorSection">
      <h5>Post to</h5>
      <ng-multiselect-dropdown [placeholder]="'Select Social Profile'" [settings]="dropdownSettings"
        [data]="dropdownList" [(ngModel)]="selectedSocailProfile" (onSelect)="showPreview()"
        (onDeSelect)="showPreview()">
      </ng-multiselect-dropdown>





      <div class="textEditor">
        <h5>Text</h5>

        <p *ngIf="showFacebookPreview"> Facebook length : {{facebookLength - postingData.length}}</p>
        <p *ngIf="showTwitterPreview"> Tweet length : {{tweetLength - postingData.length}} </p>

        <div class="innerEditor">
          <textarea [(ngModel)]="postingData" style="resize:none" rows="4" placeholder="What's happening?"
            name="textarea" maxlength="280"></textarea>
          <hr>
          <div style="padding: 10px; cursor: pointer;">
            &nbsp;<i (click)="isEmojiPickerVisible = !isEmojiPickerVisible;" class="far fa-laugh-beam fa-lg"></i>
            &nbsp;
            <span class="dropdown" style="cursor: pointer;">
              <i class="fas fa-camera fa-lg " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="openContentLibraryDialog();">Insert from Content Library</a>
                <a (click)='showdrag = true;' class="dropdown-item">Select from local</a>
              </div>&nbsp;
              <i class="fas fa-map-marker-alt fa-lg"></i>
            </span>

          </div>
          <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
            title="Choose your emoji"></emoji-mart>

        </div>
      </div>
      <!--*ngIf='showdrag'-->
      <div class="center " >
        <h5>Media <span style="float: right; cursor: pointer;" (click)='showdrag = false;'>Close</span></h5>
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Drag and drop files here &nbsp;
            <i (click)="openFileSelector()" style="cursor: pointer;" class="fas fa-cloud-upload-alt fa-2x"></i>

          </ng-template>
        </ngx-file-drop>
        <div>
          &nbsp;
        </div>


        <div>
          <div class="card">
            <span class="card-header">
              Attached image ({{count}})
            </span>
            <span class="card-body" *ngFor="let item of mediaData; let i=index">
              <span class="col-sm">
                <img class="itemimage" [src]="item.fileUrl" alt="{{item.fileDisplayName}}">
              </span>
              <span class="col-sm">
                <strong>{{ item.fileDisplayName }}</strong>
              </span>
              <span class="col-sm" *ngIf='item.progressStatus==!"Done"'>
                <span class="spinner-border" role="status"> 
                  <span class="sr-only">Loading...</span>
                </span>
              </span>
              <span class="col-sm" *ngIf='item.progressStatus=="Done"'>
                <i style="color: #82c91e;" class="fas fa-check-circle fa-2x"></i>
              </span>
              <span class="col-sm">
                <i class="fas fa-trash" (click)="removeMedia(item.fileKey)" style="cursor:pointer;"
                    title="Remove Media"></i>
              </span>
              
            </span>
            

            
          </div>

          
        </div>

      <!--
        <div class="upload-table">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <tr *ngFor="let item of mediaData; let i=index">
                <td><img class="itemimage" [src]="item.fileUrl" alt="{{item.fileDisplayName}}"></td>
                <td><strong>{{ item.fileDisplayName }}</strong></td>
                <td *ngIf='item.progressStatus==!"Done"'><div class="spinner-border" role="status"> 
                  Upload Status : {{ item.progressStatus? item.progressStatus:item.progressPercentage+'%' }}
                  <span class="sr-only">Loading...</span>
                </div></td>
                <td *ngIf='item.progressStatus=="Done"'> <i style="color: #82c91e;" class="fas fa-check-circle fa-2x"></i> </td>
                <td><i class="fas fa-trash" (click)="removeMedia(item.fileKey)" style="cursor:pointer;"
                    title="Remove Media"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      -->
      </div>
    </div>




    <div style=" background: #f3f4f4;" class="col-sm-6 text previewSection ">
      <div class="text-center"
        style="color: black; justify-content: center; font-weight: 450; padding-top: 20px;"><i class="fas fa-info-circle"></i> &nbsp; Social networks regularly
        make updates to formatting so your post may appear slightly different when published.</div>
        <div>&nbsp;</div>
      <div *ngFor='let data of selectedSocailProfile'>
        

        
        <ng-container *ngIf="showFacebookPreview && postingData!='' && data.socialId.startsWith('facebook')">
          
          <span style="color: black;"><i style="color: #1877f2;" class="fab fa-facebook"></i> &nbsp;Facebook</span>
          <div class="col-sm-8 textpreview" >

            <div style="padding-top: 20px; font-family: Helvetica Neue; " >
              <i class="fab fa-facebook fa-lg" style="color: #4867aa;"><span
                  style="font-size: 15px; position: absolute; color: black;">{{data.socialName}}</span> </i> <i
                style="float: right;" class="fas fa-ellipsis-h"></i> <br /><small
                style="position: absolute; left: 7%;">1m</small>

              <div>
                &nbsp;
              </div>
              <div >
                <textarea readonly style="resize: none; border: none;">{{postingData}}</textarea>
                <div class="d-flex justify-content-center" style="align-content: center;" *ngFor="let item of mediaData; let i=index">
                <img class="previewimage" [src]="item.fileUrl" alt="{{item.fileDisplayName}}"> 
                </div>
              </div>
              
              <hr>
              <div class="row" style="margin-left: 20px; margin-right: 20px; padding-bottom: 10px;">
                <div class="col-sm-4">
                  <i class="fal fa-thumbs-up"></i> Like
                </div>
                <div class="col-sm-4">
                  <span style="text-align: center;"> <i class="fal fa-comment-alt"></i> Comment </span>

                </div>
                <div class="col-sm-4">
                  <span style="float: right;"> <i class="far fa-share"></i> Share </span>
                </div>
              </div>
            </div>
          </div>
        
        </ng-container>
        
        <ng-container *ngIf="showTwitterPreview && postingData!='' && data.socialId.startsWith('twitter')">
          
          <span style="color: black;"><i style="color: #1da1f2;" class="fab fa-twitter fa-lg"></i>&nbsp; Twitter </span>
          <div class="col-sm-8 textpreview">

            <div style="padding-top: 20px; font-family:arial;">
              
              <i style="color: #1da1f2;" class="fab fa-twitter fa-lg"><span
                style="font-size: 15px; position: absolute; color: black;">{{data.socialName}}
                  &bull; <span style="color: grey;"> 1s </span> </span> </i> <i style="float: right;"
                class="fas fa-ellipsis-h"></i>
                <div>
                  <textarea readonly style="border: none; resize: none;">{{postingData}}</textarea>
                  <span *ngFor="let item of mediaData; let i=index">
                    <img class="previewimage" [src]="item.fileUrl" alt="{{item.fileDisplayName}}"> &nbsp;
                  </span>
                </div>
                <div>
                  &nbsp;
                </div>
              
              <div class="row" style="padding-bottom: 10px;">
                <div class="col-sm-2">
                  <i class="far fa-comment fa-lg"></i>
                </div>
                <div class="col-sm-2">
                  <i class="far fa-heart fa-lg"></i>
                </div>
                <div class="col-sm-2">
                  <i class="fas fa-retweet fa-lg"></i>
                </div>
                <div class="col-sm-2">
                  <i class="far fa-arrow-from-bottom fa-lg"></i>
                </div>
              </div>


              </div>

            </div>
          
        </ng-container>
       
      </div>


      
    </div>
  </div>
  <div class="row postRow">
    <div class="col-sm-6 offset-sm-6">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">



            <mat-form-field class="example-form-field">
              <mat-label>Clearable input</mat-label>
              <input matInput type="text" [(ngModel)]="value">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>




            <div class="input-group date input-group-append" id="datetimepicker1" data-target-input="nearest"
              data-target="#datetimepicker1" data-toggle="datetimepicker">
              <label for="name"></label>
              <input class="trigger" [disabled]="postingData ===''" id="name" [(ngModel)]="scheduleTime" readonly
                [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="DD/MM/YYYY" [min]="min">
              <!--
              <span class="trigger" [owlDateTimeTrigger]="dt1"> <i class="fa fa-calendar"></i>
              </span>
              -->
              <owl-date-time #dt1></owl-date-time>
              <button type="reset" [hidden]="scheduleTime === ''" (click)=reset() class="btn btn-block">Cancel
                schedule</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-block" [hidden]="scheduleTime === ''" (click)="schedulePost()">Schedule</button>
          <button class="btn btn-block" [disabled]="postingData ===''" [hidden]="scheduleTime"
            (click)="postToSocialProfile()">Post Now</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-block" [disabled]="postingData ===''" (click)="saveAsDraft()">Save as Draft</button>
        </div>
      </div>
    </div>
  </div>

</div>
